@import "./css_reset";
@import "./variable";

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1092px;
  display: flex;
  justify-content: center;
  z-index: 1;
  img {
    width: 1200px;
    // visibility: hidden;
  }
  .animation {
    position: absolute;
  }
}
.eye-left {
  position: absolute;
  width: 16px;
  height: 8px;
  background-color: #babe7c;
  left: 175px;
  top: 196px;
  visibility: hidden;
}
.eye-right {
  position: absolute;
  width: 16px;
  height: 8px;
  background-color: #babe7c;
  left: 212px;
  top: 199px;
  visibility: hidden;
}
.eye-top {
  position: absolute;
  background-color: #babe7c;
  width: 18px;
  height: 7px;
  left: 197px;
  top: 169px;
  visibility: hidden;
}
.eyeball {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #151614;
  border-radius: 10px;
}
